$primary-color: #333078;
$heading-font-family: "Cadiz-Bold";
$body-font-family: "Cadiz-Regular";

@font-face {
  font-family: "Cadiz-Regular";
  src: url(/explorer/Font/Cadiz-Regular.woff) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Cadiz-Bold";
  src: url(/explorer/Font/Cadiz-Bold.woff) format("opentype");
  font-weight: bold;
}

.gridContainer {
  background-color: #ffffff;
  display: grid;
  max-width: 1399px;
  max-height: 640px;
  grid-template-areas: "first second";

  .first {
    justify-content: center;
    align-self: center;
    padding: 0px 40px;
    .firstInner {
      grid-area: first;
      max-width: 307px;

      height: fit-content;
      display: grid;
      grid-template-areas:
        "row1"
        "row2"
        "row3";
      grid-gap: 27px;

      .row1 {
        display: flex;
        color: $primary-color;
        h1 {
          margin: 0px;
          font-family: $heading-font-family;
        }
      }

      .row2 {
        display: flex;
        justify-content: center;
        font-family: $body-font-family;
        margin: 0px;
        color: $primary-color;
      }

      .row3 {
        display: flex;
        justify-content: center;
      }
    }
  }
  .second {
    grid-area: second;
    max-width: 866.73px;
  }
}

@mixin button-styles {
  width: 144px;
  height: 44px;
  background-color: $primary-color;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  &:hover {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

.buttonPrimary {
  @include button-styles;
}
